# Sphinx and Theme
Sphinx>=4.0
sphinx_rtd_theme>=1.0

# Common Sphinx Extensions
sphinx.ext.napoleon
sphinx.ext.autodoc
sphinx.ext.todo
sphinx.ext.viewcode

# For Markdown Support (if needed)
recommonmark
